# Sirovi podaci su preveliki za git — svako ih preuzme lokalno sa Kaggle-a
data/raw/*
!data/raw/.gitkeep

# Generisani keš se pravi lokalno za par sekundi
data/processed/*

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Okruženje
.venv/
venv/

# OS
.DS_Store